#!/bin/bash

{{ if eq .chezmoi.osRelease.idLike "arch" -}}
  sudo pacman -Syu

  {{ if .devpod -}}
    {{ range .packages.devpod.arch.pacman -}}
      sudo pacman -S {{ . | quote }}
    {{ end -}}
  {{ end -}}
{{ end -}}

