#!/bin/bash

{{ if eq .chezmoi.osRelease.id "manjaro" -}}
  sudo pacman -Syu

  {{ if .devpod -}}
    {{ range .packages.devpod.manjaro.pacman -}}
      sudo pacman -S {{ . | quote }} --noconfirm
    {{ end -}}
  {{ end -}}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "debian" -}}
  sudo apt-get update
  
  {{ if .devpod -}}
    {{ range .packages.devpod.debian.apt }}
      sudo apt-get install -y {{ . | quote }}
    {{ end -}}
  {{ end -}}
{{ end -}}

